* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #414852;
}
.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 15px;
}
.card {
  width: 30%;
  background-color: #414852;
  /* padding: 10px; */
  box-shadow: 1px 1px 20px #000;
}
.card img {
  width: 100%;
}
.card h4 {
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.card p {
  color: #0afff8;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.card button {
  padding: 13px;

  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 25px;
}

a {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
