*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.save {
    background: #28a745;
    color: white;
}
.del{
    background: #001c97;
    color: white;
}
.cancel {
    background: #dc3545;
    color: white;
}

.link{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.link li{
    width: 27%;
    text-align: center;
    background-color: #98a7e9;
    padding: 10px 0px;
    border-radius: 15px;
    
}
.link a{
    text-decoration: none;
    
}